<!DOCTYPE html>
<html>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<body align="center" style="background-color:rgb(25, 28, 31)"> 

<div align="center">
<h1 style="color:white">Todo {{{id}}}</h1>

<div align="center">
  <a href="/todos"><button class="btn btn-secondary btn-lg active">Return to the todos manager</button></a>
</div>

<br>
<br>

<div class="container">
<table class="table table-bordered table-dark table-hover">
  <tr width="30%">
    <th>Name</th>
    <th>Completion</th>
    <th>User</th>
    <th>Creation date</th>
    <th>Edition date</th>
    <th>Delete</th>
    <th>Show user</th>
  </tr>
  <tr width="30%">
    <td align="center">{{{name}}}</td>
    <td align="center">{{{completion}}}</td>
    <td align="center">{{{user_id}}}</td>
    <td align="center">{{{created_at}}}</td>
    <td align="center">{{{updated_at}}}</td>
    <td align="center">
      <form method="POST" action="{{{id}}}?_method=DELETE">
          <button class="btn btn-link" type="submit"> Delete </button>
      </form>
      <br>
      <br>
      </td>

    <td align="center"><a class="nav-link" href="/users/{{{user_id}}}">Show user</a></td>

  </tr>
</table>


<br>
<br>

<h2 style="color:white">Edit this todo</h2>

<form method="POST" action="edit/{{{id}}}?_method=PUT">

 <table class="table table-bordered table-dark table-hover" width="55%">
    <tr width="30%">
      <th><label for="name">Name </label></th>
      <th><label for="completion">Completion </label></th>
      <th><label for="user_id">User_id </label></th>
      <th>Update todo</th>


    </tr>
    <tr width="10%">
      <td align="center"><input class="form-control" width="20px" type="text" name="name" id="name" value="{{{name}}}" required></td>
      <td align="center">
      <div class="from-example">
            <select class="form-control" name="completion" id="completion">
              <option value="todo">todo</option>
              <option value="inprogress">inprogress</option>
              <option value="done">done</option>
            </select>
      </div>
      </td>
      <td align="center">
        <select class="form-control" name="user_id" id="user_id">
              <option value="1">user_1</option>
              <option value="2">user_2</option>
              <option value="3">user_3</option>
              <option value="4">user_4</option>
              <option value="5">user_5</option>
              <option value="6">user_6</option>
              <option value="7">user_7</option>
              <option value="8">user_8</option>
              <option value="9">user_9</option>
              <option value="10">user_10</option>
              <option value="11">user_11</option>
              <option value="12">user_12</option>
          </select>
      </td>
      <td align="center"><button class="btn btn-link" type="submit"> Update todo </button></td>



    </tr>
  </table>

  </form>

</div>


</div>
</body>
</html>
